@using System;
@using System.Web.Mvc;
@using infinitymesh_test.DAL.Models;
@model PaginatedList<infinitymesh_test.DAL.Models.Users>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<script src="~/js/HomePage.js"></script>
<body style="background-color: #d3d3d3;">
    <div class="header">
        <div class="site_title_container">Blog Manager V1</div>
        <div class="buttons_container">
            <div class="navigation_button" onclick="location.reload()">Home</div>
            <div class="navigation_button" onclick="location.href ='@Url.Action("Index", "Home")'">Log out</div>
        </div>
    </div>
    <div class="title2">The User List</div>
    <div class="Search_input_container">
        <form asp-action="HomePage" method="get">
            <div class="form-actions no-color">
                <p>
                    <input type="text" name="SearchString" placeholder="Input search here..." value="@ViewData["currentFilter"]" />
                    <input type="submit" value="Search users..." class="btn btn-default" /> |
                    <a asp-action="HomePage">Back to Full List</a>
                </p>
            </div>
        </form>
    </div>
    <div class="users_list">
        <table align="center">
            <tr class="tablerow table_header">
                <td class="tablecell">
                    Name
                </td>
                <td class="tablecell">
                    Age
                </td>
                <td class="tablecell">
                    Email
                </td>
                <td class="tablecell">
                    Blog#
                </td>
                <td class="tablecell">
                    View Profile
                </td>
            </tr>
            @foreach (Users user in Model)
            {
                <tr class="tablerow">
                    <td class="tablecell">
                        @user.Name
                    </td>
                    <td class="tablecell">
                        @user.Age
                    </td>
                    <td class="tablecell">
                        @user.Email
                    </td>
                    <td class="tablecell">
                        @user.BlogNumber
                    </td>
                    <td class="tablecell">
                        <a href='@Url.Action("editProfile", "Home", new {id=@user.Id})' ;">View</a>
                    </td>
                </tr>
            }

        </table>
        @{

            var disabled = "disabled";
        }

        <div class="page_buttons">
            @for (int i = 0; i < Model.TotalPages; i++)
            {
                <a asp-action="HomePage"
                    asp-route-page="@(i+1)"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]"
                    class="btn btn-default
                    @if ((i + 1) == Model.PageIndex)
                    {
                        @disabled;
                    }
                    ">
                    @(i + 1)
                </a>
            }
        </div>
    </div>
</body>
